.suppliers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.supplier-card {
    background: #fff;
    border-bottom: 3px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: calc(33% - 20px);    
    box-shadow: 0 2px 5px #E2725B;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.supplier-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
.supplier-name {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.supplier-description {
    font-size: 16px;
    color: #666;
    text-align: center;
}
@media (max-width: 870px) {
    .supplier-card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 600px) {
    .supplier-card {
        width: 100%;
    }
}

